

/* MAIN CONTENT AND CONTAINER */

body {
	height: 100vh;
	background: url(../img/background.jpg); 
	background-repeat: no-repeat;
	background-size: cover;
}
.container {
	margin: 1em auto;
	text-align: center;	
	border-radius: 5px;
	max-width: 80%;		
	background: rgba(255,255,255,0.95);
	min-height: 70vh;
}

.container button {
	margin: 1em .2em;	
}

/* HEADER */
header {
	margin-bottom: 2.5em;
}

/* TRAIN DEPARTURE */
#trainbuttons {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

#trainList, #trainList2 {
  display: inline-block;
  vertical-align: top;
}


/*  TRAIN AND BUS ARRIVAL */
#busList h3 {
	margin-bottom: .7em;
	margin-top: 1em;
}
#busList p {
	display: inline;
}
#busList button {	
	display: block;
	margin: 2em auto;
}

/* FOOTER */
footer {	
	padding-top: 5px;	
	text-align: center;
	background: rgba(220,220,220,0.7);
}
footer a, p {
	color: black;
	font-size: 12px;
	margin: 0;
}

/*MEDIA QUERIES*/
@media (min-width: 1030px){
	body {
		height: 100vh;
		background: url(../img/background_lg.jpg) center center; 
		background-repeat: no-repeat;
		background-size: cover;
	}
	.container {
		max-width: 40%;
	}
	#trainbuttons {			
		justify-content: center;
		max-width: 40%;
	}
	#busList button {	
		margin: 3em auto;
	}
	footer p {
		font-size: 1em;
	}		
}
@media (min-width: 650px){
	#trainbuttons {
		max-width: 60%;
	}
}
@media (max-height: 650px){	
	footer {
		display: none;
	}
	#busList button {	
		margin: 1em auto;
	}
	#busList h3 {
		margin-top: .5em;
	}
}